@model IEnumerable<TTCNTT.DB.EF.LICHSUNGHIHOC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h2>LỊCH SỬ NGHỈ HỌC</h2>


</center>


<div class="container">
    <p>
        @Html.ActionLink("TẠO MỚI", "Create")
    </p>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>
                Tên học sinh  
            </th>
            <th>
                Tên lớp
            </th>
            <th>
                Lý do
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Có phép?
            </th>
            <th>
                Ngày nghỉ
            </th>
            <th></th>
        </tr>
        @{var i = 1; }

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @i
                @{ i++;}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HOCSINH.tenhocsinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOP.tenlop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lydo)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.trangthai)*@
                @{ if (item.trangthai == "1")
                    {
                        <div>
                            Chấp nhận
                        </div>
                    }
                    else if (item.trangthai == "2")
                    {
                        <div>
                            Từ chối

                        </div>
                    }
                    else
                    {
                        <div>
                            Đang chờ duyệt


                        </div>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cophep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaynghi)
            </td>
            <td>
                @Html.ActionLink("Chấp nhận", "ChapNhan", new { id = item.idlichsunghihoc }) |
                @Html.ActionLink("Từ chối", "TuChoi", new { id = item.idlichsunghihoc }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.idlichsunghihoc })

            </td>
        </tr>
    }

    </table>
</div>