<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>
        Website trao đổi giữa nhà trường và gia đình học sinh
    </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Assets/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Assets/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Assets/css/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Assets/js/jquery.table2excel.min.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.~/Assets/js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <img src="~/Assets/images/logo.png" height="65px" />
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="/Home">Trang chủ</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Home/Intro">Giới thiệu</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">Tin tức</a></li>
                        @{ if (@Session["quyen"] != null && @Session["Quyen"].ToString() == "quyengiadinh")
                            {
                                <li class="dropdown">
                                    <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Xem thông tin</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="cart.html">Xem thông báo</a></li>
                                        <li><a href="checkout.html">Xem thời khóa biểu</a></li>
                                        <li><a href="my-account.html">Tra cứu thông tin</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="/H_GiaDinh">Nhắn tin</a></li>
                                <li class="nav-item"><a class="nav-link" href="/lam/create">Xin nghỉ học</a></li>

                            }
                        }
                        @{ if (@Session["quyen"] != null && @Session["Quyen"].ToString() == "quyengiaovien")
                            {
                                <li class="dropdown">
                                    <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Quản lý học sinh</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/lam/diemdanh">Điểm danh học sinh</a></li>
                                        <li><a href="/H_GiaoVien">Nhập và sửa điểm học sinh</a></li>
                                        <li><a href="my-account.html">Đánh giá học sinh hàng ngày</a></li>
                                        <li><a href="my-account.html">Quản lý đánh giá kết quả học tập cuối kỳ</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="service.html">Giải đáp thắc mắc</a></li>
                            } }
                        @{ if (@Session["quyen"] != null && @Session["Quyen"].ToString() == "admin")
                            {
                                <li class="dropdown">
                                    <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Xem thông tin</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="cart.html">Xem thông báo</a></li>
                                        <li><a href="checkout.html">Xem thời khóa biểu</a></li>
                                        <li><a href="my-account.html">Tra cứu thông tin</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="/H_GiaDinh">Nhắn tin</a></li>
                                <li class="nav-item"><a class="nav-link" href="/lam/create">Xin nghỉ học</a></li>
                                <li class="dropdown">
                                    <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Quản lý học sinh</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="lam/diemdanh">Điểm danh học sinh</a></li>
                                        <li><a href="/H_GiaoVien">Nhập và sửa điểm học sinh</a></li>
                                        <li><a href="my-account.html">Đánh giá học sinh hàng ngày</a></li>
                                        <li><a href="my-account.html">Quản lý đánh giá kết quả học tập cuối kỳ</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="service.html">Giải đáp thắc mắc</a></li>
                                <li class="dropdown">
                                    <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Thông báo</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="cart.html">Thông báo kết quả học tập</a></li>
                                        <li><a href="checkout.html">Thông báo tình hình nghỉ học của học sinh</a></li>
                                        <li><a href="my-account.html">Thông báo TKB, lịch thi và các tin tức của nhà trường</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Quản lý</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="cart.html">Lập,sửa,xóa thời khóa biểu</a></li>
                                        <li><a href="checkout.html">Quản lý tin tức</a></li>
                                        <li><a href="/H_BanQuanLy">Quản lý lịch thi</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="service.html">Giải đáp thắc mắc</a></li>
                                <li class="nav-item"><a class="nav-link" href="/lam">Duyệt đơn xin nghỉ học</a></li>
                            } }
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu">
                            @if (Session["quyen"] == null)
                            {
                                <a href="/Home/Login">
                                    <i class='fas fa-user-alt' style='font-size:24px'></i>
                                </a>
                            }
                            else
                            {
                                
                                <a href="/Home/Logout">
                                    <i class='fas fa-user-alt' style='font-size:24px'></i>
                                </a>
                            }

                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            @*<div class="side">
                    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                    <li class="cart-box">
                        <ul class="cart-list">
                            <li>
                                <a href="#" class="photo"><img src="~/Assets/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Delica omtantur </a></h6>
                                <p>1x - <span class="price">$80.00</span></p>
                            </li>
                            <li>
                                <a href="#" class="photo"><img src="~/Assets/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Omnes ocurreret</a></h6>
                                <p>1x - <span class="price">$60.00</span></p>
                            </li>
                            <li>
                                <a href="#" class="photo"><img src="~/Assets/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Agam facilisis</a></h6>
                                <p>1x - <span class="price">$40.00</span></p>
                            </li>
                            <li class="total">
                                <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                                <span class="float-right"><strong>Total</strong>: $180.00</span>
                            </li>
                        </ul>
                    </li>
                </div>*@
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->
    <!-- Start Slider -->
    <!-- End Slider -->
    <!-- Start Categories  -->
    @RenderBody()
    <!-- End Instagram Feed  -->
    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>Về trường THPT Đống đa</h4>
                            <p>
                                Trường THPT Đống Đa có bề dày tryền thống 60 năm xây dựng và trưởng thành.
                            </p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Thông tin</h4>
                            <ul>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Dịch vụ</a></li>
                                <li><a href="#">Chính sách</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Liên hệ với chúng tôi</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Địa chỉ: Số 10 ngõ Quan Thổ 1, Tôn Đức Thắng, Đống Đa , Hà Nội </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Điện thoại:02438513691 / Fax: 02438513691</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">c3dongda@hanoiedu.vn</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->
    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">
            All Rights Reserved. &copy; 2021 <a href="#">THPT Dong Da</a> Design By :
            <a href="https://html.design/">N4Team</a>
        </p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="~/Assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/Assets/js/jquery.superslides.min.js"></script>
    <script src="~/Assets/js/bootstrap-select.js"></script>
    <script src="~/Assets/js/inewsticker.js"></script>
    <script src="~/Assets/js/bootsnav.js."></script>
    <script src="~/Assets/js/images-loded.min.js"></script>
    <script src="~/Assets/js/isotope.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/baguetteBox.min.js"></script>
    <script src="~/Assets/js/form-validator.min.js"></script>
    <script src="~/Assets/js/contact-form-script.js"></script>
    <script src="~/Assets/js/custom.js"></script>
    @*<script>
            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1);
                    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
                }
                return "";
            }
            alert(getCookie("quyen"));
        </script>*@
</body>

</html>